<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amir Hossain Oroujlou {CV}</title>
    <style>
        :root {
            --bright-cyan: rgb(54, 118, 238);
            --dark-cyan: rgb(46, 99, 197);
            --darker-cyan: rgb(34, 75, 151);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            user-select: none;
        }

        body {
            background-color: black;
        }

        .background-image {
            position: fixed;
            object-fit: cover;
            filter: blur(30px) brightness(70%);
            left: -10vw;
            top: -10vh;
            width: 120vw;
            height: 120vh;
            z-index: -10;
        }

        .left-side {
            background-color: rgba(0, 0, 0, 0.438);
            width: 100vw;
            max-width: 40vw;
	        min-width: 350px;
	        min-height: 100vh;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.521);
            display: flex;
            flex-direction: column;
            z-index: -2;
            position: absolute;
            border: 1px solid var(--bright-cyan);
            border-width: 0 1px 0 0;
        }

        .floating-text {
            position: fixed;
            right: 1em;
            top: 1em;
            color: white;
            transition: opacity cubic-bezier(0.12, 0.87, 1, 1) 0.14s;
            text-align: end;
            user-select: none;
        }

        .job-span {
            font-size: 0.7em;
            text-decoration: underline;
            text-decoration-color: var(--bright-cyan);
        }

        .upper-left-side {
            height: 8em;
            background-color: rgba(0, 0, 0, 0.493);
            display: flex;
            flex-direction: row;
            position: relative;
            border: 1px solid var(--bright-cyan);
            border-width: 0 0 1px 0;
            padding: 10px 0;
        }

        .upper-left-side::after {
            content: '';
            position: absolute;
            --width: 30px;
            background: linear-gradient(180deg, var(--bright-cyan), transparent);
            width: var(--width);
            top: -10px;
            height: 100vh;
            right: calc(var(--width) * (-1));
        }

        .upper-left-side::before {
            content: '';
            position: absolute;
            --width: 30px;
            width: var(--width);
            height: 30vh;
            background: linear-gradient(180deg, var(--darker-cyan), transparent);
            right: calc(var(--width) * (-1));
            top: -10px;
            z-index: 1;
        }

        @media (max-width: 420px) {
            .upper-left-side::after {
                display: none;
            }

            .upper-left-side::before {
                display: none;
            }
        }

        .profile-image-holder {
            height: 100%;
            aspect-ratio: 1/1;
            padding: 20px;
        }

        .profile-image-holder img {
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid var(--bright-cyan);
            transform: scale(120%);
        }

        .upper-info-holder {
            display: flex;
            flex-direction: column;
            flex: 1;
            color: white;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .upper-info-holder p {
            width: 100%;
            direction: rtl;
        }

        .ability-level-area {
            height: 19rem;
            background-color: rgba(0, 0, 0, 0.493);
            display: flex;
            flex-direction: row;
            padding-bottom: 3px;
            padding-right: 10px;
            
        }

        .abilities-name-list {
            height: 100%;
            width: fit-content;
            padding: 10px;
            align-items: flex-start !important;
            margin-top: -2px;
            row-gap: 5px;
        }

        .abilities-name-list a {
            color: white;
            text-decoration: none;
            font-style: italic;
            transition: color ease-in-out .14s;
            white-space: nowrap;
            direction: rtl;
        }

        .abilities-name-list a:hover {
            color:var(--bright-cyan);
        }

        .abilities-amount-list {
            flex: 1;
        }

        .abilities-amount-list, .abilities-name-list {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-evenly;
        }

        .lower-left-side {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .more-info-area {
            flex: 1;
        }

        .my-links-area {
            display: flex;
            flex-direction: column;
            height: fit-content;
        }

        .links-definer-plate {
            height: 30px;
            direction: rtl;
            color: white;
            background: linear-gradient(-90deg, var(--bright-cyan), transparent);
            display: flex;
            align-items: center;
            padding-right: 10px;
        }

        .links-holder-plate {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 0;
        }

        .link {
            height: fit-content;
            width: fit-content;
            padding: 0 10px;
            height: 28px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--bright-cyan);
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: background-color ease-in-out .14s;
            user-select: none;
        }

        .link:hover {
            background-color: var(--dark-cyan);
        }

        .phone-link {
            width: 40px;
            height: 28px;
            overflow: hidden;
            white-space: nowrap;
            transition: width ease-in-out .3s;
            position: relative;
        }

        .phone-link:hover {
            width:  var(--fit-size) !important;
            justify-content: flex-start;
        }

        .phone-link:hover::after {
            content: attr(text-in);
            position: absolute;
            right: 0;
            background-color: var(--darker-cyan);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
        }

        .gmail-link:hover {
            width: 215px !important;
        }

        @media (max-width: 830px) {
            .floating-text {
                opacity: 0;
            }
        }

        .amount-display {
            display: flex;
            height: 5px;
            width: 90%;
            background-color: gray;
        }

        .amount-display .filled-amount {
            background-color: var(--bright-cyan);
            box-shadow: 0 0 10px rgba(54, 118, 238, 0.582);
        }

        .amount-display .out-amount {
            background-color: rgb(54, 54, 54);
        }

        .info-par {
            color: white;
            direction: rtl;
            font-size: 1.1em;
            margin: 5px;
            padding: 10px 10px;
        }

        .info-par a {
            color: rgb(192, 1, 192);
        }

        .info-par a:hover {
            color: rgb(133, 45, 206);
        }

        .at-svg {
            margin-left: 10px;
            transform: scale(130%);
        }

        .skills-upper-text {
            border: 1px solid var(--bright-cyan);
            border-width: 1px 0 0 0;
            background-color: rgba(0, 0, 0, 0.493);
            display: flex;
            align-items: center;
            color: white;
            justify-content: flex-end;
            font-size: 30px;
            padding-top: 15px;
            padding-right: 20px;
            column-gap: 20px;
        }

        .skills-upper-text svg {
            transform: scale(180%);
        }

        .top-header-info-area {
            padding: 10px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            direction: rtl;
            border: solid var(--bright-cyan);
            border-width: 0 0 1px 0;
        }

        .top-header-info-area p {
            text-align: center;
            font-size: 1.4rem;
        }

        .top-header-info-area p:nth-child(2) {
            font-size: 3rem;
            animation: color-change 5s ease-in-out both alternate infinite;
        }

        .en-send {
            position: fixed;
            right: 10px;
            bottom: 10px;
            background: white;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            font-size: 13px;
            color: black;
            text-decoration: none;
        }

        @keyframes color-change {
            0% {
                color: #19d9c7;
            }

            50% {
                color: #8ecb8e;
            }

            100% {
                color: #bbb868;
            }
        }

        .direct-massage-send-link {
            color: white;
            font-size: 1.8rem;
            text-decoration: none;
            background: var(--darker-cyan);
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(42, 80, 150, 0.83);
        }
    </style>
</head>
<body>
    <img class="background-image" alt="..." src="/src/images/background-image.png">
    <a href="/en" class="en-send">EN</a>

    <h1 class="floating-text">رزومه امیر حسین عروجلو<br><span class="job-span">طراح و برنامه نویس وب</span></h1>
    <section class="left-side">
        <div class="upper-left-side">
            <div class="upper-info-holder">
                <p>نام: امیر حسین</p>
                <p>نام خانوادگی: عروجلو</p>
                <p>تاریخ تولد: 1385/11/2</p>
                <p> زمینه: طراحی و برنامه نویسی سایت <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-chrome" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                    </svg></p>
            </div>
            <div class="profile-image-holder">
                <img src="/src/images/profile-pic.png" alt="">
            </div>
        </div>
        <div class="lower-left-side">
            <div class="top-header-info-area">
                <p>
                    ساخت هرگونه وبسایت چت و گفت گو، معرفی و اطلاع رسانی، شبکه های اجتماعی، و حتی رزومه ی شخصی<br>
                    همه و همه با مناسب ترین هزینه<br>
                </p>
                <p>
                    مشاوره ی <strong>رایگان</strong>
                </p>
                <a href="/utils/send-massage" class="direct-massage-send-link">ارتباط مستقیم از سایت</a>
            </div>
            <div class="more-info-area">
                <p class="info-par">
                    با سلام. امیر حسین عروجلو هستم، طراح و برنامه نویس وب شما از صفر صد. بنده مسلط بر زبان انگلیسی هستم. <br>
اگر وبسایتی در ذهن خود دارید که می‌دانید آماده شدن آن زمان زیادی می برد، می توانید آن را به من بسپارید. <br>
بنده وبسایت رویایی شما یا وبسایت شرکت شما را با کمترین هزینه بدون کاستی از کیفیت آن و بدون افزودن برمهلت تحویل به شما تحویل می دهم. <br>
یک وبسایت می تواند هر آنچه که از آن توقع دارید را فراهم آورد. بدین ترتیب هر آنچه که از وبسایت خود توقع دارید قابل تولید است. <br>
یک وبسایت خوب می تواند نتیجه ای باور نکردنی بر کسب و کار شما داشته باشد، طوری که می تواند یک پل ارتباطی جدید با دیگران یا یک راه تبلیغاتی باشد. <br>
شما می توانید از بخش <a href="/sample-projects">نمونه پروژه ها</a> چند نمونه از وبسایت های ساخت بنده را مشاهده کرده و به درکی از توانایی های ساخت وب دست یابید.
                </p>
            </div>
            <div class="my-links-area">
                <div class="links-definer-plate"><svg class="at-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">
                    <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
                  </svg>راه های ارتباطی :</div>
                <div class="links-holder-plate">
                    <div class="link phone-link" text-in="@Sienna_circle" style="--fit-size: 170px;">ایتا</div>
                    <div class="link phone-link gmail-link"text-in="tailheadeusage@gmail.com" style="--fit-size: 260px; width: 50px;">ایمیل</div>
                    <div class="link phone-link" text-in="@cubical" style="--fit-size: 120px;">بله</div>
                    <div class="link phone-link" text-in="09056632129" style="--fit-size: 160px;"> تلفن</div>
                </div>
            </div>
            <div class="skills-upper-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                    <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                    <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                </svg>
                مهارت ها
            </div>
            <div class="ability-level-area" id="abilities">
                <div class="abilities-amount-list">
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 14;"></div>
                        <div class="out-amount" style="flex: 5;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 17;"></div>
                        <div class="out-amount" style="flex: 3;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 14;"></div>
                        <div class="out-amount" style="flex: 2;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 13;"></div>
                        <div class="out-amount" style="flex: 2;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 13;"></div>
                        <div class="out-amount" style="flex: 4;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 10;"></div>
                        <div class="out-amount" style="flex: 5;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 17;"></div>
                        <div class="out-amount" style="flex: 3;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 14;"></div>
                        <div class="out-amount" style="flex: 3;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 10;"></div>
                        <div class="out-amount" style="flex: 3;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 16;"></div>
                        <div class="out-amount" style="flex: 2;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 16;"></div>
                        <div class="out-amount" style="flex: 2;"></div>
                    </div>
                    <div class="amount-display">
                        <div class="filled-amount" style="flex: 16;"></div>
                        <div class="out-amount" style="flex: 4;"></div>
                    </div>
                </div>
                <div class="abilities-name-list">
                    <a href="/ability-description/web-design-programming"> طراحی وبسایت</a>
                    <a href="/ability-description/web-design-programming"> برنامه نویسی وب</a>
                    <a href="#abilities">تسلط بر انگلیسی</a>
                    <a href="/ability-description/creating-complex-algorithms"> ایجاد الگوریتم های پیچیده</a>
                    <a href="/ability-description/long-term-service"> پشتیبانی طولانی مدت وب</a>
                    <a href="/ability-description/graphics-design"> گرافیک دو و سه بعدی</a>
                    <a href="/ability-description/expressJS"> expressJS</a>
                    <a href="/ability-description/django"> django</a>
                    <a href="/ability-description/vanilla-php"> PHP (vanilla)</a>
                    <a href="#">React</a>
                    <a href="#">Vue Js</a>
                    <a href="#">Bootstrap</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>